@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
	--primary-color: #14103b;
	--secondary-color:  #6789ba;
	--highlight-color: #f02a71;
	--light-color: #7ec0e4;
	--light-color-span: #d7f1ff;
	--font-size: 1.8rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 67.5%;
}
body {
  background-color: var(--primary-color);
  min-height: 100vh;
}
.socialMedia {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  transition: 0.5s;
  background: transparent;
  flex-direction: column;
}
.sci {
  position: relative;
  display: flex;
  margin-bottom: 70px;
}
.sci li {
  list-style: none;
}
.sci li::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-70%));
  font-size: 14vw;
  pointer-events: none;
  font-weight: 700;
  transition: 0.5s;
  color: #fff;
  opacity: 0;
}
.sci li:hover::before {
  opacity: 0.3;
  transform: translate(-50%, calc(-50vh));
}
.sci li a {
  position: relative;
  display: inline-block;
  width: 8vw;
  height: 8vw;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  border-radius: 10px;
  text-decoration: none;
  margin: 0.5vw;
  font-size: 4vw;
  transform-style: preserve-3d;
  perspective: 500px;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
  transition: background 0.25s;
}
.js-tilt-glare {
  border-radius: 10px;
}
.sci li a:hover.facebook {
  background: #1877f2;
}
.sci li a:hover.youtube {
  background: #bb0000;
}
.sci li a:hover.twitter {
  background: #0099ff;
}
.sci li a:hover.instagram {
  /* background: #e4405f; */
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.sci li a:hover.telegram {
  background: #0088cc;
}
.sci li a:hover.whatsapp {
  background: #25D366;
}
.sci li a:hover.github {
  background: #1d202d;
}
.sci li a:hover.mail {
  background: #c71610;
}
.sci li a:hover.linkedin {
  background: #0072b1;
}
.sci li a:hover.tiktok {
  background: #000000;
}
.sci li a .fa {
  transition: 0.25s;
  pointer-events: none;
}
.sci li a:hover .fa {
  color: #fff;
  transform: scale(1.75) translateZ(50px);
}
@media screen and (max-width: 960px){
  .sci li a:hover .fa {
    color: #fff;
    transform: scale(1.3);
  }
}